:root {
  --purple: #6f42c1;
  --background: #1f1f1f;
}
/* code for header and navigation */
.header {
  background-color: var(--background);
  box-shadow: 0px 0px 30px rgba(34, 6, 6, 0.3);
  position: sticky;
  top: 0px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  background-color: #fff;
  background-color: var(--background);
  color: white;
}
.nav-list {
  width: 60%;
}
.nav-text {
  border-bottom: 1px solid white;
}
.nav-text a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.pages,
.blog {
  position: relative;
}
.pages ul,
.blog ul {
  margin-top: 10px;
  position: absolute;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 150px;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  border: 1px solid black;
  color: black;
  background-color: #fff;
  padding: 0;
}

.pages div:focus + ul,
.blog div:focus + ul {
  opacity: 1;
  pointer-events: all;
}
.pages ul li:hover,
.blog ul li:hover {
  border-bottom: 1px solid black;
}
/* shared component code */

.list-items > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}
.list-items > ul > li {
  cursor: pointer;
}

/* code for footer */
.footer {
  width: 100%;
  background-color: var(--background);
  color: white;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: var(--background);
  color: white;
  width: 60% !important;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  border-bottom: 1px solid #363636;
}
.social-media-item {
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  border: solid 1px white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.text-center {
  text-align: center;
  padding-bottom: 50px;
}

/* base components */
.container {
}

/* Home page css */
/* service section */
.service-section {
  width: 90%;
  margin: auto;
  height: 70vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 100px;
}
.service-section .title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-section h2 {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
}

.service-section .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.card {
  width: 20%;
  border: 2px solid #e8e8e8;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.card:hover {
  border-color: var(--purple);
}
/* about section css */
.about-section {
  display: flex;
  flex-direction: row;
  height: 78vh;
  margin-bottom: 20px;
}
.about-block {
  background-color: var(--background);
  color: #ffffff;
  width: 50%;
  height: 100%;
  margin-left: 8px;
}
.about-img {
  max-width: 50%;
  display: block;
}
.about-img img {
  height: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  min-height: 70vh;
  margin-left: 10%;
}
.about-info h3 {
  font-size: 40px;
  font-weight: 400;
}
.about-info p {
  color: #c9c9c9;
}
.about-info .font-highlight {
  font-size: 18px;
  font-weight: 400;
}
.about-btn {
  background-color: #615cfd;
  color: #fff;
  padding: 15px 33px;
  margin-top: 10px;
  border-radius: 30px;
  outline: 0;
  font-size: 16px;
}
.about-btn:focus {
  outline: 0;
}
/* misc */

.text-purple {
  color: var(--purple);
  font-weight: 500;
  text-transform: capitalize;
}
