:root {
  --light-purple: #615cfd;
  --purple: #6f42c1;
  --background: #1f1f1f;
}
/* code for header and navigation */
.header {
  background-color: var(--background);
  box-shadow: 0px 0px 30px rgba(34, 6, 6, 0.3);
  position: sticky;
  top: 0px;
  z-index: 99;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  background-color: #fff;
  background-color: var(--background);
  color: white;
  height: 100px;
}
.nav-list {
  width: 60%;
}
.nav-text {
  border-bottom: 3px solid var(--light-purple);
}
.nav-text .hello-text {
  text-decoration: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  padding-bottom: 12px;
}
.pages,
.blog {
  position: relative;
}
.pages ul,
.blog ul {
  margin-top: 10px;
  position: absolute;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: flex-start;
  height: 100px;
  width: 150px;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  border: 1px solid black;
  color: black;
  background-color: #fff;
  /* padding: 0; */
  padding-left: 10px;
}

.pages div:focus + ul,
.blog div:focus + ul {
  opacity: 1;
  pointer-events: all;
}
.pages ul li:hover,
.blog ul li:hover {
  border-bottom: 1px solid black;
}
/* shared component code */

.list-items > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
}
.list-items > ul > li {
  cursor: pointer;
}

/* code for footer */
.footer {
  width: 100%;
  background-color: var(--background);
  color: white;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: var(--background);
  color: white;
  width: 60% !important;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  border-bottom: 1px solid #363636;
}
.social-media-item {
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  border: solid 1px white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.social-media-item:hover {
  background-color: #615cfd;
}
.text-center {
  text-align: center;
  padding-bottom: 50px;
}
/* banner section css */
.home-banner {
  width: 100%;
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner-container {
  position: relative;
  color: white;
}
.banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-content {
  width: 50%;
}
.banner-overlay .banner-content h3 {
  font-size: 78px;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 54px;
}
.banner-button {
  width: 30%;
}
/* base components */

/* Home page css */
/* service section */
.service-section {
  width: 90%;
  margin: auto;
  height: 70vh;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 100px;
}
.service-section .title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-section h2 {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.service-section .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.card {
  width: 20%;
  border: 2px solid #e8e8e8;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.card:hover {
  border-color: var(--purple);
}
/* about section css */
.about-section {
  display: flex;
  flex-direction: row;
  height: 78vh;
  margin-bottom: 20px;
}
.about-block {
  background-color: var(--background);
  color: #ffffff;
  width: 50%;
  height: 100%;
}
.about-img {
  max-width: 50%;
  display: block;
}
.about-img img {
  height: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  min-height: 70vh;
  margin-left: 10%;
}
.about-info p {
  color: #c9c9c9;
}
.about-info .font-highlight {
  font-size: 18px;
  font-weight: 400;
}
.about-btn {
  background-color: var(--light-purple);
  color: #fff;
  padding: 15px 33px;
  margin-top: 10px;
  border-radius: 30px;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
}
.about-btn:focus {
  outline: 0;
}
.about-btn:hover {
  background: transparent;
  color: var(--light-purple);
  border: 1px solid var(--light-purple);
}

/* featured section */
.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 130px;
}
.featured-section p {
  width: 40%;
  margin: auto;
  text-align: center;
}
.featured-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.image-1 {
  grid-column: 1/3;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay .text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-overlay .text span {
  font-size: 12px;
  color: var(--purple);
}
.image-overlay .text h3 {
  font-size: 16px;
}
/* work section css */
.work-section {
  display: flex;
}
.work-section img {
  width: 50%;
  border-radius: 20px 0 0 20px;
}
.work-block {
  width: 50%;
}
.work-info {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-left: 40%;
  width: 50%;
}
.watch-video {
  margin-top: 50px;
}
.watch-video-btn {
  padding: 20px;
  background-color: var(--light-purple);
  border-radius: 50%;
  display: inline;
  margin-right: 20px;
  cursor: pointer;
}
.watch-video-btn i {
  color: white;
}
/* team section css */
.team-section {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}
.team-section > p {
  width: 25%;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}
.team-group {
  display: flex;
  flex-direction: row;
}
.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.team-member h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
.team-member p {
  margin-top: 10px;
}
/* contact sections css */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 150px;
}
.input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: auto;
  width: 40%;
}
.input-group .input-field {
  border: 1px solid #c9c9c9;
  height: 50px;
  border-radius: 30px;
  display: block;
  padding-left: 20px;
  /* width: 350px; */
}
.input-group .input-field:focus {
  outline: 0;
}
.full-block {
  grid-column: 1/4;
  margin-right: 12px;
}
.pt-20 {
  padding-top: 20px;
}
/* testimonial section css */

.testimonial-banner {
  width: 100%;
  opacity: 0.8;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.testimonial-container {
  position: relative;
  color: white;
}
.testimonial-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fit-img {
  height: 50px;
  width: 50px;
}
.testimonial-content p {
  width: 50%;
  margin: auto;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.profile-info P {
  margin-bottom: 10px;
}
/* misc */

.text-purple {
  color: var(--purple);
  font-weight: 500;
  text-transform: capitalize;
}

.big-text {
  font-size: 40px;
  font-weight: 400;
}

.text-muted {
  color: #727272;
}

.primary-btn {
  background-color: var(--light-purple);
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  padding: 15px 33px;
}
.primary-btn:focus {
  outline: 0;
}
.primary-btn:hover {
  background: transparent;
  color: var(--light-purple);
  border: 1px solid var(--light-purple);
}
